################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyFirstApp/.vs/MyFirstApp/v16
/MyFirstApp/MyFirstApp/obj
